* { margin: 0;
    padding: 0;
}

body {
    background-color: #12525a;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;     
}

/* start header */

.logo-container { 
    display: block;
    display: flex;
    margin-top: 30px;
    width: 30%;    
    flex-direction: row; 
    justify-content: center;
    margin-bottom: 20px;      
}

.logo {   
    display: flex;
    align-items: baseline;
}
      
.logo-text {
    /* display: flex; */
    font-size: 80px;
    font-family: 'Amatic SC', cursive;   
    color: white; 
    font-style: italic; 
    align-items: flex-start;   
}

.logo img {
    /* display: flex; */
    height: 80px;
    margin-right: 20px;  
}

/* end header */

/* start main */

.main-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0px;      
    width: 80%;
    height: 40%;   
    display: flex;
    justify-content: center; 
}

.container-text {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;    
}

h2 { 
    display: flex;   
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    margin-bottom: 20px;
    color: white;
    text-align: left;
    justify-content: center;
    align-items: center;
    line-height: 130%;
}

.container-image {
    display: flex;     
}

.container-image-second { 
    animation: imgSpin 5s linear infinite;
    animation-direction: alternate-reverse;
}

@keyframes imgSpin {
	0% {transform: scale(1) rotate(0deg);}
	50% {transform: scale(1.5) rotate(25deg);}
	100% {transform: scale(1) rotate(0deg);}
}

.btn { 
    max-width: 100px;
    position: relative;
    justify-content: center;
    border: none; 
    background-color: rgb(16, 56, 88);
    font-family: 'Amatic SC', cursive;   
    color: white; 
    font-size: 40px;
    font-style: italic;
    border-radius: 20px;
}

.btn:hover {
    background-color: aqua;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.3s;
}

/* end main */














